
.open-sans-banner{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
nav-title{
    font-weight: 700;
    font-size: 32px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
     
}
nav ul li{
    list-style: none;
}
.btn-primary{
    color: #006A50;
    border-radius: 5px;
    border-width: 0;
    padding: 5px;
    border-color:#14b990 ;
    font-weight: 600;
    font-size: 8px;
}
.banner{
    display: flex;
    background-color: #C6E4D6;
    justify-content: space-between;
    border-radius: 15px;
    border-width: 1360px;
}
.banner-title{
    color: #0E0E0E;
    font-weight: medium;
    font-size: 14px;
    margin: 80px 0 0 80px;
}
.banner-theme{
    color: #0E0E0E;
    font-size: 52px;
    font-weight: bold;
    max-width: 622px;
}
.btn-style{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 12px;
    border-width:0px;
    font-size: 15px;
    font-weight: 202px;
}
.banner-pic{
    max-width: 474px;
    margin:80px 80px 80px 30px;
}

.section-title{
    font-weight: bold;
    font-size: 40px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 20px;
}
.skill-description{
    color: #0E0E0E;
    font-weight: 400px;
    font-size: 15px;
}
.skill{
    padding: 24px;
    box-shadow:5px 6px 50px 5px #dddbdb ;
    border-radius: 10px;
    margin-bottom: 10px;
}
.skills{
    margin: 70px 80px 70px 80px;
}




.second-section-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.second-section-description{
    font-weight: 400;
    font-size: 16px;
}
.section-container{
    display: flex;
    gap: 24px;
    margin: 32px 0 32px 0;
}

.sections-title{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
}
.section-description{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
}
.first-btn{
    background-color: #5490F5;
     padding: 18px;
     border-radius: 8px;
     font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border-width: 0;
}
.second-btn{
     background-color: #09A15C;
     padding: 18px;
     border-radius: 8px;
     font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border-width: 0;
}
.third-btn{
    font-size: 16px;
      background-color: #FFC239;
     padding: 18px;
     border-radius: 8px;
     font-weight: 600;
    color: #FFFFFF;
    border-width: 0;
}
.first-section{
    background-color: #BED5F5;
    border-radius: 16px;
    padding: 32px;
}
.second-section{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
}
.third-section{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
}


.section-items{
    padding: 48px 24px 48px 24px;
}
.section-script{
    border-width: 0px;
    border-radius: 16px;
    box-shadow: 50px 20px 50px 20px #e3e6eb;
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
    background-position-x: 1cm;
    background-position-y: 1cm;
}
.text-item{
    font-size: 16px;
    font-weight: 400px;
    color: #0E0E0E;
    padding: 60px 24px 0px 38px;
}
.text-title{
    font-weight: 600px;
    font-size: 20px;
    color: #0E0E0E;
    padding: 0 24px 0 38px;
}
.text-description{
    font-weight: 400px;
    font-size: 16px;
    color: #0E0E0E;
    padding: 0 24px 48px 38px;
}   



 .text{
    background-color: #F8F7F7;
    padding: 5px 5px 5px 5px;
 }
 .heading{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
 }
 .letter-description{
    color: #0E0E0E;
    font-weight: 400px;
    font-size: 16px;
 }


.satelite-model{
    padding: 30px 0px 48px 0px ;
    background-color: #F8F7F7;
}
.satelite{
    display: flex;
    gap: 32px;
    background-color: #FFFFFF;
    padding: 0 48px 48px 48px;
    border-radius: 24px;
    margin: 32px 10px 0 10px;

}
.satelite-pic{
    width: 408px;
    border-radius: 24px;
    margin: 50px 0 0 0;
}
.satelite-full-description{
    width: 758px;
    height: 290px;
    margin: 0px 0px 48px 0;
}
.satelite-title{
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
}
.time-date{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
     list-style: none;
     display: flex;
     gap: 20px;
     padding: 0;
}
.satelite-description{
    color: #0E0E0E;
    font-weight: 400;
    font-size: 16px;
}
.btn-n{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    background-color: #006A50;
    border-width: 0;
    border-radius: 8px;
    padding: 13px 26px 13px 26px;
}
