
.open-sans-banner{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
nav-title{
    font-weight: 700;
    font-size: 32px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
     
}
nav ul li{
    list-style: none;
}
.btn-primary{
    color: #006A50;
    border-radius: 5px;
    border-width: 0;
    padding: 5px;
    border-color:#14b990 ;
    font-weight: 600;
    font-size: 8px;
}
.banner{
    display: flex;
    background-color: #C6E4D6;
    justify-content: space-between;
    border-radius: 15px;
    border-width: 1360px;
}
.banner-title{
    color: #0E0E0E;
    font-weight: medium;
    font-size: 14px;
    margin: 80px 0 0 80px;
}
.banner-theme{
    color: #0E0E0E;
    font-size: 52px;
    font-weight: bold;
    max-width: 622px;
}
.btn-style{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 12px;
    border-width:0px;
    font-size: 15px;
    font-weight: 202px;
}
.banner-pic{
    max-width: 474px;
    margin:80px 80px 80px 30px;
}









.skills{
    margin: 0px 0px 0px 0px;
    background-color: #F8F7F7;
    padding: 5px 5px 5px 5px;
}
.section-title{
    font-weight: bold;
    font-size: 40px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 20px;
}
.skill-description{
    color: #0E0E0E;
    font-weight: 400px;
    font-size: 15px;
}
.skill{
    gap: 24px;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 24px;
    
}










.secondery-bg{
    background-color: #F8F7F7;
    padding: 5px 32px 5px 5px;
}
.second-section-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.second-section-description{
    font-weight: 400;
    font-size: 16px;
}
.section-container{
    display: flex;
    gap: 24px;
    margin: 32px 0 32px 0;
}

.sections-title{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
}
.section-description{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
}
.first-btn{
    background-color: #5490F5;
     padding: 18px;
     border-radius: 8px;
     font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border-width: 0;
}
.second-btn{
     background-color: #09A15C;
     padding: 18px;
     border-radius: 8px;
     font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border-width: 0;
}
.third-btn{
    font-size: 16px;
      background-color: #FFC239;
     padding: 18px;
     border-radius: 8px;
     font-weight: 600;
    color: #FFFFFF;
    border-width: 0;
}
.first-section{
    background-color: #BED5F5;
    border-radius: 16px;
    padding: 32px;
}
.second-section{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
}
.third-section{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
}










.section-items{
    padding: 48px 24px 48px 24px;
    background-color:#F8F7F7 ;
}
.section-script{
    border-width: 0px;
    border-radius: 16px;
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
    background-position-x: 1cm;
    background-position-y: 1cm;
    background-color: #FFFFFF;
}
.text-item{
    font-size: 16px;
    font-weight: 400px;
    color: #0E0E0E;
    padding: 60px 24px 0px 38px;
}
.text-title{
    font-weight: 600px;
    font-size: 20px;
    color: #0E0E0E;
    padding: 0 24px 0 38px;
}
.text-description{
    font-weight: 400px;
    font-size: 16px;
    color: #0E0E0E;
    padding: 0 24px 48px 38px;
}   









.text-area{
    box-shadow:0px 0 5px 0 #b3b1b1;
    margin: 0 0 5px 0;
}
 .text{
    background-color: #F8F7F7;
    padding: 5px 5px 5px 5px;
 }
 .heading{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
 }
 .letter-description{
    color: #0E0E0E;
    font-weight: 400px;
    font-size: 16px;
 }










.satelite-model{
    padding: 30px 0px 48px 0px ;
    background-color: #F8F7F7;
}
.satelite{
    display: flex;
    gap: 32px;
    background-color: #FFFFFF;
    padding: 0 48px 48px 48px;
    border-radius: 24px;
    margin: 32px 10px 0 10px;

}
.satelite-pic{
    width: 408px;
    border-radius: 24px;
    margin: 50px 0 0 0;
}
.satelite-full-description{
    width: 758px;
    height: 290px;
    margin: 0px 0px 48px 0;
}
.satelite-title{
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
}
.time-date{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
     list-style: none;
     display: flex;
     gap: 20px;
     padding: 0;
}
.satelite-description{
    color: #0E0E0E;
    font-weight: 400;
    font-size: 16px;
}
.btn-n{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    background-color: #006A50;
    border-width: 0;
    border-radius: 8px;
    padding: 13px 26px 13px 26px;
}






.second-satelite-model{
    padding: 30px 0px 48px 0px ;
    background-color: #F8F7F7;
}
.second-satelite{
    display: flex;
    gap: 32px;
    background-color: #FFFFFF;
    padding: 0 48px 48px 48px;
    border-radius: 24px;
    margin: 32px 10px 0 10px;
}
.second-satelite-full-description{
    width: 758px;
    height: 290px;
    margin: 0px 0px 48px 0;
}
.second-satelite-title{
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
}
.second-date-time{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
     list-style: none;
     display: flex;
     gap: 20px;
     padding: 0;
}
.second-satelite-description{
    color: #0E0E0E;
    font-weight: 400;
    font-size: 16px;
}
.second-btn-n{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    background-color: #006A50;
    border-width: 0;
    border-radius: 8px;
    padding: 13px 26px 13px 26px;
}
.second-satelite-pic{
    width: 408px;
    border-radius: 24px;
    margin: 50px 0 0 0;
}





.donate-box{
    background-color:#F8F7F7 ;
}

.box-title{
    color: #0E0E0E;
    font-weight: 700;
    font-size: 40px;
    margin-top: 0%;
    text-align: center;
}
.box-description{
     color: #0E0E0E;
     font-weight: 400px;
     font-size: 16px;
     text-align: center; 
     margin: 0 70px 0 70px;
}
.money-description{
    color: #0E0E0E;
    display: flex;
    gap: 24px;
    justify-content: center;
}
.btnn{
    font-weight: bold;
    font-size: 40px;
    padding: 40px 40px;
    background-color: #FFFFFF;
    border-radius: 16px;
    border-width: 0;
    margin: 32px 0px 0px 0px;
    box-shadow: 0px 2px 2px 2px #e9e7e7;
}
.btnn-second{
    font-weight: bold;
    font-size: 40px;
    padding: 40px 40px;
    background-color: #C6E4D6;
    border-radius: 16px;
    border-width: 0;
    margin: 32px 0 0 0;
    box-shadow: 0px 2px 2px 2px #cfcece;
}

.box-footer{
    text-align: center;
    margin: 32px 150px 32px 150px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    color: #0E0E0E;
    box-shadow: 0px 2px 2px 2px #e9e7e7;
}
.bttn{
     margin: 0 0 0 565px;
    background-color: #006A50;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    padding: 17px 34px;
    border-width: 0;
}